<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero == selectedHero">
    <span class="badge">{{hero.id}}</span> 
    {{hero.name}}
  </li>
</ul>
<div *ngIf="selectedHero != null">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <p>The hero with name <b>{{selectedHero.name}}</b> has hero registration number #<b>{{selectedHero.id}}</b>.</p>
  <p>Knowing this ID it is easy to find hero's name.</p>
  <div>
    <table>
      <tr>
        <td>
          <label for="name">name:</label>
        </td>
        <td>
          <input name="name" [(ngModel)]="selectedHero.name" placeholder="name" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="id">id:</label>
        </td>
        <td>
          <input name="id" [(ngModel)]="selectedHero.id" placeholder="id" />
        </td>
      </tr>
    </table>
  </div>
</div>